n8n/workflow-a.json
{
  "id": "workflow-a-captacao-leads-v1",
  "name": "Workflow A — Captação de Leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "argus-rodada",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Recebe Rodada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [260, 300],
      "webhookId": "webhook-argus-rodada"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "termo_busca",
              "value": "={{ $json.body.nicho }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "regiao",
              "value": "={{ $json.body.regiao }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "limit",
              "value": "={{ $json.body.limit }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Parâmetros da Busca",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scraper:3000/scrape-maps",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.termo_busca, regiao: $json.regiao, limit: $json.limit }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Buscar Leads no Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const NICHO_MAP = {\n  'Clínica':           'Saúde/estética',\n  'Dentista':          'Saúde/estética',\n  'Odontológica':      'Saúde/estética',\n  'Médico':            'Saúde/estética',\n  'Fisioterapeuta':    'Saúde/estética',\n  'Estética':          'Saúde/estética',\n  'Psicólogo':         'Saúde/estética',\n  'Nutricionista':     'Saúde/estética',\n  'Salão':             'Saúde/estética',\n  'Spa':               'Saúde/estética',\n  'Academia':          'Saúde/estética',\n  'Advogado':          'Serviços profissionais',\n  'Contador':          'Serviços profissionais',\n  'Arquiteto':         'Serviços profissionais',\n  'Imobiliária':       'Serviços profissionais',\n  'Imóveis':           'Serviços profissionais',\n  'Consultoria':       'Serviços profissionais',\n  'Engenheiro':        'Serviços profissionais',\n  'Loja de roupa':     'Comércio/loja física',\n  'Loja de roupas':    'Comércio/loja física',\n  'Móveis':            'Comércio/loja física',\n  'Decoração':         'Comércio/loja física',\n  'Joalheria':         'Comércio/loja física',\n  'Loja de presentes': 'Comércio/loja física',\n  'Hotel':             'Eventos/hospedagem',\n  'Pousada':           'Eventos/hospedagem',\n  'Buffet':            'Eventos/hospedagem',\n  'Espaço de festa':   'Eventos/hospedagem',\n};\n\nconst REDES_SOCIAIS = [\n  'instagram.com',\n  'facebook.com',\n  'fb.com',\n  'linktr.ee',\n  'linktree.com',\n  'wa.me',\n  'api.whatsapp.com',\n  'twitter.com',\n  'tiktok.com',\n];\n\nfunction resolverNicho(categoria) {\n  if (!categoria) return null;\n  for (const [chave, nicho] of Object.entries(NICHO_MAP)) {\n    if (categoria.toLowerCase().includes(chave.toLowerCase())) {\n      return nicho;\n    }\n  }\n  return null;\n}\n\nfunction temSiteProprio(site) {\n  if (!site || site.trim() === '') return false;\n  return !REDES_SOCIAIS.some(dominio => site.toLowerCase().includes(dominio));\n}\n\nfunction extrairDominio(site) {\n  try {\n    return new URL(site).hostname.replace(/^www\\./, '');\n  } catch {\n    return site.trim().toLowerCase();\n  }\n}\n\nconst leads = $input.first().json.leads || [];\nconst dominiosVistos = new Set();\nlet indiceCanal = 0;\n\nconst items = [];\n\nleads.forEach((lead) => {\n  const nicho = resolverNicho(lead.categoria);\n  if (nicho === null) return; // descarta\n\n  const canal = indiceCanal % 2 === 0 ? 'whatsapp' : 'instagram';\n  const tem_site = temSiteProprio(lead.site);\n  indiceCanal++;\n\n  const leadProcessado = {\n    nome:              lead.nome      || '',\n    telefone:          lead.telefone  || '',\n    endereco:          lead.endereco  || '',\n    site:              lead.site      || '',\n    url_site:          lead.site      || '',\n    categoria:         lead.categoria || '',\n    categoria_mapeada: nicho,\n    canal:             canal,\n    tem_site:          tem_site,\n  };\n\n  if (tem_site) {\n    const dominio = extrairDominio(lead.site);\n    if (dominiosVistos.has(dominio)) return; // descarta duplicado\n    dominiosVistos.add(dominio);\n    items.push({ json: leadProcessado });\n  } else {\n    leadProcessado.problemas_encontrados = [];\n    leadProcessado.severidade = 'sem_site';\n    items.push({ json: leadProcessado });\n  }\n});\n\nreturn items;"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Classificar e Separar Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-tem-site",
              "leftValue": "={{ $json.tem_site }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Tem Site?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "workflowId": "workflow-b-diagnostico-sites-v1",
        "mode": "each"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Chamar Workflow B",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "workflowId": "workflow-c-mensagens-envio-v1",
        "mode": "each"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Chamar Workflow C Direto",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1440, 440]
    }
  ],
  "connections": {
    "Webhook Recebe Rodada": {
      "main": [
        [{ "node": "Parâmetros da Busca", "type": "main", "index": 0 }]
      ]
    },
    "Parâmetros da Busca": {
      "main": [
        [{ "node": "Buscar Leads no Scraper", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Leads no Scraper": {
      "main": [
        [{ "node": "Classificar e Separar Leads", "type": "main", "index": 0 }]
      ]
    },
    "Classificar e Separar Leads": {
      "main": [
        [{ "node": "Tem Site?", "type": "main", "index": 0 }]
      ]
    },
    "Tem Site?": {
      "main": [
        [{ "node": "Chamar Workflow B", "type": "main", "index": 0 }],
        [{ "node": "Chamar Workflow C Direto", "type": "main", "index": 0 }]
      ]
    }
  }
}
